.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: solid;
    border-color: rgba(30, 123, 245, 0.2);
    border-radius: 1.5px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 300px 16px;  
    }

  .largeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    
  }

  .largeContainer > div {
    margin: 30px;
  }

  .buttonHome {
    margin: auto;
    width: 100%;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4378db;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  @media only screen and (max-width: 800px) {
    .buttonHome {
      font-size: 14px;
      
      padding: 10px 17.5px;
    }
  
  .buttonHome:hover {background-color: #346dd6;}
  
  .buttonHome:active {
    background-color: #346dd6;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .body {
    font-family: 'Poppins', sans-serif;
  }}