body {
  margin: 0;
  color: white; }

.background {
  width: 100%;
  height: 100%;
  background: #19181a;
   }

   @media (min-width: 800px){
     .background{
      min-height: 1300px;
     }
     
   }

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }
  .background span:nth-child(1) {
    color: #8b4057;
    top: 53%;
    left: 14%;
    animation-duration: 15.7s;
    animation-delay: -1.1s;
    transform-origin: -4vw 5vh;
    box-shadow: 40vmin 0 14.0078046381vmin currentColor; }
  .background span:nth-child(2) {
    color: #6b1630;
    top: 88%;
    left: 70%;
    animation-duration: 14.7s;
    animation-delay: -0.3s;
    transform-origin: -5vw 0vh;
    box-shadow: -40vmin 0 6.0665077554vmin currentColor; }
  .background span:nth-child(3) {
    color: #FFACAC;
    top: 4%;
    left: 11%;
    animation-duration: 11.8s;
    animation-delay: -1.3s;
    transform-origin: -7vw 4vh;
    box-shadow: 40vmin 0 14.0265774282vmin currentColor; }
  .background span:nth-child(4) {
    color: #E45A84;
    top: 7%;
    left: 70%;
    animation-duration: 10.3s;
    animation-delay: -8s;
    transform-origin: 15vw -5vh;
    box-shadow: 40vmin 0 12.9150688129vmin currentColor; }
  .background span:nth-child(5) {
    color: #FFACAC;
    top: 65%;
    left: 95%;
    animation-duration: 11.8s;
    animation-delay: -3.1s;
    transform-origin: 24vw 0vh;
    box-shadow: -40vmin 0 11.6739979853vmin currentColor; }
  .background span:nth-child(6) {
    color: #583C87;
    top: 61%;
    left: 16%;
    animation-duration: 13.7s;
    animation-delay: -12.5s;
    transform-origin: 20vw -15vh;
    box-shadow: -40vmin 0 14.2996835302vmin currentColor; }
  .background span:nth-child(7) {
    color: #E45A84;
    top: 23%;
    left: 70%;
    animation-duration: 12.4s;
    animation-delay: -8.8s;
    transform-origin: -13vw -13vh;
    box-shadow: 40vmin 0 10.8394765779vmin currentColor; }
  .background span:nth-child(8) {
    color: #E45A84;
    top: 60%;
    left: 56%;
    animation-duration: 10.2s;
    animation-delay: -10.4s;
    transform-origin: -21vw -16vh;
    box-shadow: -40vmin 0 6.9464384884vmin currentColor; }
  .background span:nth-child(9) {
    color: #E45A84;
    top: 26%;
    left: 24%;
    animation-duration: 12.5s;
    animation-delay: -1.4s;
    transform-origin: -4vw 21vh;
    box-shadow: 40vmin 0 5.218321657vmin currentColor; }
  .background span:nth-child(10) {
    color: #FFACAC;
    top: 59%;
    left: 35%;
    animation-duration: 15.5s;
    animation-delay: -0.8s;
    transform-origin: 6vw 3vh;
    box-shadow: -40vmin 0 9.9781655581vmin currentColor; }
  .background span:nth-child(11) {
    color: #FFACAC;
    top: 83%;
    left: 75%;
    animation-duration: 15.6s;
    animation-delay: -1.1s;
    transform-origin: -5vw -16vh;
    box-shadow: -40vmin 0 7.2104401606vmin currentColor; }
  .background span:nth-child(12) {
    color: #FFACAC;
    top: 71%;
    left: 84%;
    animation-duration: 14.9s;
    animation-delay: -7.4s;
    transform-origin: -23vw 24vh;
    box-shadow: 40vmin 0 12.9185775769vmin currentColor; }
  .background span:nth-child(13) {
    color: #FFACAC;
    top: 93%;
    left: 73%;
    animation-duration: 16s;
    animation-delay: -9.3s;
    transform-origin: -15vw 9vh;
    box-shadow: 40vmin 0 13.909671415vmin currentColor; }
  .background span:nth-child(14) {
    color: #E45A84;
    top: 58%;
    left: 35%;
    animation-duration: 15.9s;
    animation-delay: -0.1s;
    transform-origin: 5vw -15vh;
    box-shadow: 40vmin 0 6.105684768vmin currentColor; }
  .background span:nth-child(15) {
    color: #583C87;
    top: 79%;
    left: 2%;
    animation-duration: 14.5s;
    animation-delay: -1.6s;
    transform-origin: -8vw 14vh;
    box-shadow: 40vmin 0 10.6858378008vmin currentColor; }
  .background span:nth-child(16) {
    color: #FFACAC;
    top: 73%;
    left: 31%;
    animation-duration: 11.3s;
    animation-delay: -2.8s;
    transform-origin: -19vw 11vh;
    box-shadow: -40vmin 0 10.4504733573vmin currentColor; }
  .background span:nth-child(17) {
    color: #FFACAC;
    top: 23%;
    left: 31%;
    animation-duration: 11.7s;
    animation-delay: -15.3s;
    transform-origin: 2vw 1vh;
    box-shadow: -40vmin 0 6.6074161933vmin currentColor; }
  .background span:nth-child(18) {
    color: #FFACAC;
    top: 58%;
    left: 74%;
    animation-duration: 10.2s;
    animation-delay: -13.6s;
    transform-origin: 17vw 0vh;
    box-shadow: -40vmin 0 5.3567948936vmin currentColor; }
  .background span:nth-child(19) {
    color: #E45A84;
    top: 47%;
    left: 84%;
    animation-duration: 12.7s;
    animation-delay: -1.4s;
    transform-origin: 3vw 10vh;
    box-shadow: 40vmin 0 14.4780278912vmin currentColor; }
  .background span:nth-child(20) {
    color: #583C87;
    top: 31%;
    left: 63%;
    animation-duration: 12.3s;
    animation-delay: -7.6s;
    transform-origin: -5vw -20vh;
    box-shadow: -40vmin 0 10.680052226vmin currentColor; }

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg); } }

/*# sourceMappingURL=stars.css.map */

.buttonHome {
    margin: auto;
    width: 100%;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4378db;
    border: none;
    border-radius: 15px;
    
  }
  
  .buttonHome:hover {background-color: #346dd6;}
  
  .buttonHome:active {
    background-color: #346dd6;
    transform: translateY(4px);
  }

